<footer class="site-footer">

  <div class="wrapper">

    <!--<h2 class="footer-heading">{{ site.companytitle }}</h2>-->

    <div class="footer-col-wrapper">


      <div class="footer-col footer-col-1">
        <ul class="social-media-list">
		  <li><b>Follow NotSoSecure</b></li>
	        {% if site.github_username %}
          <li>
            {% include icon-github.html username=site.github_username %}
          </li>
          {% endif %}

          {% if site.twitter_username %}
          <li>
            {% include icon-twitter.html username=site.twitter_username %}
          </li>
          {% endif %}
        </ul>
      </div>

	  <div class="footer-col footer-col-2">

      </div>
	  
      <div class="footer-col footer-col-3">

 <a href="https://notsosecure.com" target="_blank"><img src="{{ '/images/nss-ccs-logo.png' | prepend: site.baseurl }}"></a><br/><center>&copy; Powered by NotSoSecure Global Services</center>
 </div>

  </div>

</footer>
